*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

.challenge-container{
    width:100%;
    height:100vh;
    background-color: lightgray;
    border: 5px solid black;
}

.challenge-box-1 {
    background-color: greenyellow;
    width: 100vw;
    height: 30vh;
    display: block;
    color:green;
    border: 10px solid green;
}

